<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AddCrossingServlet</display-name>
    <servlet-name>AddCrossingServlet</servlet-name>
    <servlet-class>com.simpli.AddCrossingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCrossingServlet</servlet-name>
    <url-pattern>/AddCrossingServlet</url-pattern>
  </servlet-mapping>
  <display-name>Phase-2 Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddToFavoritesServlet</display-name>
    <servlet-name>AddToFavoritesServlet</servlet-name>
    <servlet-class>com.simpli.AddToFavoritesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToFavoritesServlet</servlet-name>
    <url-pattern>/AddToFavoritesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomePageServlet</display-name>
    <servlet-name>AdminHomePageServlet</servlet-name>
    <servlet-class>com.simpli.AdminHomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomePageServlet</servlet-name>
    <url-pattern>/AdminHomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.simpli.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCrossingServlet</display-name>
    <servlet-name>DeleteCrossingServlet</servlet-name>
    <servlet-class>com.simpli.DeleteCrossingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCrossingServlet</servlet-name>
    <url-pattern>/DeleteCrossingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.simpli.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.simpli.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromFavoritesServlet</display-name>
    <servlet-name>RemoveFromFavoritesServlet</servlet-name>
    <servlet-class>com.simpli.RemoveFromFavoritesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromFavoritesServlet</servlet-name>
    <url-pattern>/RemoveFromFavoritesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCrossingServlet</display-name>
    <servlet-name>SearchCrossingServlet</servlet-name>
    <servlet-class>com.simpli.SearchCrossingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCrossingServlet</servlet-name>
    <url-pattern>/SearchCrossingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCrossingServlet</display-name>
    <servlet-name>UpdateCrossingServlet</servlet-name>
    <servlet-class>com.simpli.UpdateCrossingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCrossingServlet</servlet-name>
    <url-pattern>/UpdateCrossingServlet</url-pattern>
  </servlet-mapping>
</web-app>